.fontstyle {
	background-color:#000;
	color:#ccc;
	height:100%;
}

#cards {
	height:100%;
}

#videos {
	height:100%;
	width:100%;
	float:left;
	display:none;
}

#selectRange {
	display:none;	
}

#showtime {
	display:none;
}